body {
  background-color: #f7f7f7;
}

.App {
  text-align: center;
}

canvas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

canvas#obstacles {
  z-index: 1;
}

canvas#player {
  z-index: 2;
}

button {
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
